<div id="controls">
  <button id="startBtn" (click)="startRecording()" [disabled]="isRecording">開始</button>
  <button id="stopBtn" (click)="stopRecording()" [disabled]="!isRecording">停止</button>
  <button id="registBtn" (click)="regist()" [disabled]="path.length === 0">共有</button>
  <button id="locationBtn" (click)="getCurrentLocation()">現在位置</button>
</div>

<div class="map-container">
<google-map #map
  height="100vh"
  width="100vw"
  [center]="center"
  [zoom]="zoom"
  [options]="mapOptions"
  (mapInitialized)="onMapInitialized($event)"
>
  <map-marker
    *ngIf="currentPosition"
    [position]="currentPosition"
    [title]="'現在位置'"
  ></map-marker>
  <map-polyline *ngIf="path.length > 1" [path]="path" [options]="{strokeColor: '#FF0000', strokeWeight: 4}"></map-polyline>
  <map-polyline *ngIf="local.length > 1" [path]="local" [options]="{strokeColor: '#00FF00', strokeWeight: 4}"></map-polyline>
  <map-polyline *ngFor="let entry of shard | keyvalue"
    [path]="entry.value" [options]="{strokeColor: '#0000FF', strokeWeight: 4}"></map-polyline>
</google-map>
</div>
