html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; // スクロールを防ぐ
  touch-action: none; // ページ全体のピンチ・ダブルタップズームを防ぐ
}

app-root, body > div, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}